In [12]:
import os
import glob
from nltk import word_tokenize
from itertools import chain
import pandas as pd
import math
import numpy as np

#open and store file paths in a list
files_path = []
files_path = [file for file in glob.glob(r'cleaned_*.txt') if os.path.isfile(file)]

cleaned_articles = []
counter = 0
#store text in a list
for file in files_path:
    with open(file,'r',encoding='utf-8', errors='replace') as f:
        cleaned_articles.append(f.read())
    counter += 1

In [13]:
#tokenize articles
tokenized_articles = []
for article in cleaned_articles:
    tokenized_articles.append(word_tokenize(article))

#get total word count (w/ duplicates)
counter = 0
for articles in tokenized_articles:
    for word in articles:
        counter +=1

#create vocabulary
vocabulary = sorted(set(chain.from_iterable(tokenized_articles)))

# print metrics for debugging
# print('Vocabulary before set conversion:' + str(counter))
# print('Length of Vocabulary: {}'.format(len(vocabulary)))
# print(vocabulary)

In [14]:
#create column headers
column_headers = []
for file in files_path:
    column_headers.append(file.replace('/Users/rj/Desktop/Code/Web&TextMining/hw4/clean_articles/cleaned_',''))

#create pandas dataframe
tfidf_vectors = pd.DataFrame(index=vocabulary, columns=column_headers)

#count appearances of each token in the article
counter = 0
for articles in tokenized_articles:
    for token in tfidf_vectors.index:
        tfidf_vectors[tfidf_vectors.columns[counter]].loc[token] = articles.count(token)
    counter += 1

#get number of articles each token appears in corpus specific term frequency
tfidf_vectors['corpus_term_freq'] = tfidf_vectors.gt(0).sum(axis=1) 

#set up idf column
number_of_documents = len(files_path)
tfidf_vectors['idf'] = np.nan

#calculate idf
for token in tfidf_vectors.index:
    idf = round((math.log(number_of_documents/tfidf_vectors['corpus_term_freq'].loc[token]))**2,5)
    tfidf_vectors['idf'].loc[token] = idf

#print dataframe for debugging
# tfidf_vectors

/var/folders/_q/9sh2684d1t57tq5wdp7xn8s80000gn/T/ipykernel_67867/3142059339.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tfidf_vectors['idf'].loc[token] = idf

,0118_sports.txt,0518_business.txt,0515_politics.txt,0104_sports.txt,0305_tech.txt,0201_food.txt,9903_tech.txt,0310_science.txt,0109_sports.txt,0409_science.txt,...,9901_sports.txt,9904_science.txt,0218_food.txt,0219_food.txt,0302_science.txt,0317_tech.txt,0316_tech.txt,0407_science.txt,corpus_term_freq,idf
aapl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,21.74766
aaron,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,3,12.70799
ab,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,21.74766
abalone,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,21.74766
abandon,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,21.74766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zoom,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,21.74766
zucchini,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,21.74766
zuckerberg,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,5,9.32692
zuckerbergfacebookvirtual,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,21.74766
zuo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,21.74766

In [15]:
#create 2nd dataframe for final tfidf calculation
column_headers2 = []

#get headers
for file in files_path:
    column_headers2.append(file.replace('/Users/rj/Desktop/Code/Web&TextMining/hw4/clean_articles/cleaned_','')+'-tfidf')
tfidf_vectors2 = pd.DataFrame(index=vocabulary, columns=column_headers2)
for index in tfidf_vectors['idf']:
    tfidf_vectors2['idf'] = tfidf_vectors['idf']

#calculate tfidf
counter = 0
for column in tfidf_vectors2.columns:
    for row in tfidf_vectors2.index:
        tfidf_vectors2[tfidf_vectors2.columns[counter]].loc[row] = tfidf_vectors[tfidf_vectors.columns[counter]].loc[row]*tfidf_vectors2['idf'].loc[row]
    counter += 1

#generate spreadsheet
#tfidf_vectors.to_excel('idf_data.xlsx')
tfidf_vectors2.to_excel('group_04_tfidf_vectors.xlsx')

#print dataframe for debugging
# tfidf_vectors2

/var/folders/_q/9sh2684d1t57tq5wdp7xn8s80000gn/T/ipykernel_67867/1982028603.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tfidf_vectors2[tfidf_vectors2.columns[counter]].loc[row] = tfidf_vectors[tfidf_vectors.columns[counter]].loc[row]*tfidf_vectors2['idf'].loc[row]